<h1>User Profile</h1>

<p>
  <b>Name:</b>
  <%= best_in_place @user, :name %>
</p>
<!-- <p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>
<p>
  <b>Public profile:</b>
  <%= @user.public_profile %>
</p>
<p>
  <%= @user.bio %>
</p>

 -->