<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->
  <title>SnappyQuiz| by Jonathan Wexler</title>
  <%= stylesheet_link_tag "application", media:"all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render '/layouts/shim'%>
</head>
<body>
  <%= render '/layouts/header' %>
  <div class= "container">
    <div class="row">
      <div class="span12"><%= yield%> </div>
<!--     <div class="span3">
      <h2>About Us</h2>
      <br>
      This is a site created by Jonathan Wexler. It was created in part as an Independent Study Project under Professor Tim Hickey at Brandeis University. This site hopes to bring learning English in the form of a fun and interactive online social game.
    </div> -->
  </div>
</div> 
<%= render '/layouts/footer' %>
</body>


</html>